data/almeida_cazy_annotations.tsv
data/2024_08_12_w_nw_profiles.tsv
data/almeida_coding_sequences_by_genus/*
data/almeida_cazy_info_by_genus/*
data/genome_level_cazy_abundances.tsv
data/motus_level_mean_cazy_abundances.tsv
data/paths_to_276_rep_genomes.txt
data/pg3_2_motu_tax_v2
data/paths_to_276_rep_genomes_SAFETY.txt
data/SulfAtlas_Results/Eisenbergiella_cazy_annotations.tsv
data/SulfAtlas_Results/Hungatella_cazy_annotations.tsv
scripts/revisions_aditions/rnaseq/data/v3
scripts/revisions_aditions/rnaseq/scripts/.nextflow
scripts/revisions_aditions/rnaseq/scripts/work
scripts/revisions_aditions/rnaseq/scripts/null
scripts/revisions_aditions/rnaseq/data
scripts/revisions_aditions/rnaseq/results
scripts/revisions_aditions/rnaseq/scripts/agat_1.4.2--pl5321hdfd78af_0.sif